
.main-container{
    /* display: flex;
    justify-content: center; */

    margin: 0 auto;
}

#input-container{
    margin-right: 5px;
    padding: 10px;
    width: 5cm;
}

#search-button{
    Border-radius: 10px;
    border: none;
    padding: 10px;
    Width: 2cm;
}