/* .main-container{
    display: flex;
    justify-content: center;
} */

.search-container{
    display: flex;
    justify-content: center;
}
.display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
}